<!-- FIRST ============================================================-->
<script id='firstT' type='text/ractive'>
           <button class="btnGen" on-tap="login">Ingresar a mi cuenta</button>
           <button class="btnGen" on-tap="registro">Registrar usuario nuevo</button>
</script>

<!--  LOGIN ============================================================-->
<script id='loginT' type='text/ractive'>

	<div class="title">Ingresar a mi cuenta</div>
            <div class="labelT">Correo:</div>
            <input type="text" name="name" id="name" value="" data-clear-btn="true" data-mini="true">
             <div class="labelT">Contraseña: </div>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">

                <a href="#" data-rel="close" class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="ingresar">Ingresar</a>    

                <a class="linksTexto" href="#recuperar">¿Olvidaste tu contraseña?</a>

</script>

<!--  Recuperar ============================================================-->
<script id='recuperarT' type='text/ractive'>
    


    <div  role="main" class="ui-content">
      <div class="title">Ingresa tu correo y te enviaremos tu contraseña</div>
            <div class="labelT">Correo:</div>
            <input type="text" name="name" id="email" value="" data-clear-btn="true" data-mini="true">
            <div class="ui-grid-a">
				<a href="#" data-rel="close" class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="recuperar">Enviar correo</a>
            </div>
    </div>
    

</script>

<!--  REGISTRO ============================================================-->
<script id='registroT' type='text/ractive'>
    

    <div id="wrapperReg" class="wrapper" >
	    <div id="scroller" >

	<div class="conte">

	

	 <form id="dataForm" data-abide="ajax">

	 		<h2>Registro de Usuario</h2>

	 		<div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Codigo Tarjeta:</div>
	             <input class="" id="code" type="text" value=""  />
          	</div>

	 		 <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Nombre:</div>
	             <input class="" id="nombre" type="text" value="" />
          	</div>

          	 <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Email:</div>
	             <input class="" id="email" type="text" value=""  />
	         </div>   

	          <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Teléfono Movil:</div>
	             <input class="" id="movil" type="text" value=""  />
	         </div>   

	          <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Elija una contraseña:</div>
	             <input class="" id="pass" type="password" value=""  />
	         </div>  

	           <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Repetir Contraseña:</div>
	             <input class="" id="cpass" type="password" value=""  />
	         </div>    

          	 
       <div class="saveBtn small-12 column collapse">
          <div on-tap="validate" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini btnNaranja">Crear cuenta</div>
       </div>

    </form>

     </div>

    	</div>
    </div>

</script>


<!--  REGISTRO ============================================================-->
<script id='cardT' type='text/ractive'>
    

    <div id="wrapperReg" class="wrapper" >
	    <div id="scroller" >

	<div class="conte">

	 <form id="dataForm" data-abide="ajax">

	 <h2>Agregar código a mi cuenta</h2>
	             


	 	<div class="small-12 medium-6 large-6 column ">
	             <div class="formLabel">Código:</div>
	             <input style="margin-bottom: 20px;font-size:30px; width: 100%;line-height: 30px;text-align: center;margin-top: 10px" class="" id="cardA" type="text" value=""  />
	         </div>  



        <div class="saveBtn small-12 column collapse">
          <div on-tap="validate" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini btnNaranja">Agregar código</div>
       </div>


    </form>

     </div>

    	</div>
    </div>

</script>





<!--  HOME ============================================================-->
	<script id='mainT' type='text/ractive'>
    



	{{>menuT}}

	 <div data-role="header" id="headerLogo" data-position="fixed">
        <div id="logoHeader">
		<img src="img/logo.png">
	</div>

     <!--   <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>  -->
        <a href="#add-form" data-icon="gear" data-theme="a" class="gearIco ui-btn-right" data-iconpos="notext">Info</a>
    </div><!-- /header -->

    <div role="main" >
           <div id="wrapperMain" >

<!--

<div class="carousel" id="carousel">
    <div id="item_1" class="item" on-tap="getCerca"><img src="img/m1.png"></div>
    <div id="item_2" class="item" on-tap="getZona"><img src="img/m2.png"></div>
    <div id="item_3" class="item" on-tap="getEspecialidad"><img src="img/m3.png"></div>
</div>




<div on-click="previousBt" class="next">Next</div>
<div on-click="nextBt" class="prev">Prev</div>

-->

      



       				<div class="listMain" on-tap="getCerca">

						<div class="icoDiv"><img class="icoImg" src="img/m_1.png"></div>

						<div class="mainIcoText">Buscar cerca de mí</div>
					</div>

					<div class="listMain" on-tap="getZona">

						<div class="icoDiv"><img class="icoImg" src="img/m_2.png"></div>
						<div class="mainIcoText">Buscar por estado</div>
					</div>


		       		<div class="listMain" on-tap="getEspecialidad">

						<div class="icoDiv"><img class="icoImg" src="img/m_3.png"></div>

						<div class="mainIcoText">Buscar por especialidad</div>
					</div>


					<div class="listMain" on-tap="getBusqueda">

						<div class="icoDiv"><img class="icoImg" src="img/m_4.png"></div>	

						<div class="mainIcoText">Buscar por Nombre</div>
					</div>

					
					


			<div id="botCont">
				<div class="bottomBot"  on-tap="getSos">SOS</div>
				<div class="bottomBot"  on-tap="getContacto">Contacto</div>
			</div>
					

		</div>




     

    </div>

    <!--
      <div role="main" >
           <div id="wrapperMain" >
		       <div id="scroller">
		             <ul class="listMenu" data-role="listview" id="listview">
							<li>
							<div class="listMain" on-tap="getCerca">
								<div class="icoDiv"><img src="img/cerca.png"></div>
								<div class="mainIcoText">Cerca de Mí</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getZona">
								<div class="icoDiv"><img src="img/zona.png"></div>
								<div class="mainIcoText">Zona</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getDescuentos">
								<div class="icoDiv"><img src="img/desc.png"></div>
								<div class="mainIcoText">Descuentos</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getEspecialidad">
								<div class="icoDiv"><img src="img/espec.png"></div>
								<div class="mainIcoText">Especialidad</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getContacto">
								<div class="icoDiv"><img src="img/contacto.png"></div>
								<div class="mainIcoText">Contacto</div>
							</div>
							</li>
		             </ul>
		        </div>
		</div>
    </div> -->




    <div data-role="footer" data-position="fixed" style="position:fixed;bottom:0;"> 
			<img class="imgBanner"  on-click="openLink" id="imgBanner" src="http://autotips.mx:3018/uploads/docs/{{img}}">
	</div> 
    
 
      
      <div id="map" style="display:none;"></div>

    </script>



<!-- Listado 1  ============================================================-->
<script id='listT' type='text/ractive'>

	<div id="wrapperList" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview">
	            {{#items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="listDetail" data-transition="fade">
	                   
	                	{{#if distVis}}
	                    <div class="small-8 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        <div style="margin-left: 6px;">
								<div data-role="none" class="starMini {{#if rate>0}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>1}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>2}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>3}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>4}}star-fill{{/if}}"></div>
							</div>
	                    </div>

	                    <div class="small-2 column rPad">
	                        <div class="distancia">{{roundDist(dist)}} Km.</div>
	                        </div>
	                   	{{else}}

	                   	<div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                          <div style="margin-left: 6px;">
								<div data-role="none" class="starMini {{#if rate>0}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>1}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>2}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>3}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>4}}star-fill{{/if}}"></div>
							</div>
	                        
	                    </div>
	                    	
	                        {{/if}}
	                    
	                    <div class="small-1 column rPad">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/items}}
	        </ul>

	        {{#if empty}}
	        	<h4 style="margin:20px;"> Sin Resultados, intente otra búsqueda</h4>
	        {{/if}}

	    </div>
	</div>

	<div data-role="footer" data-position="fixed" style="position:fixed;bottom:0;"> 
			<img class="imgBanner"  on-click="openLink" id="imgBanner" src="http://autotips.mx:3018/uploads/docs/{{img}}">
	</div> 


</script>


<!-- Especialidades  ============================================================-->
<script id='busquedaT' type='text/ractive'>

<div id="wrapperBusqueda" class="wrapper">
	    <div id="scroller" >
	      	<input on-change="getSearch" type="text" id="busquedaI" placeholder="Nombre del negocio" value="{{busquedaStr}}" name="busqueda">

	      	<ul data-role="listview" id="listviewB" >
	            {{#each data}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                    <div class="small-8 column rpad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        
	                      	<div class="" style="margin-bottom:20px;">
	                      	 <div style="margin-left: 6px;">
								<div data-role="none" class="starMini {{#if rate>0}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>1}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>2}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>3}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>4}}star-fill{{/if}}"></div>
							</div>
							</div>

						

	                    </div>

	                    <div class="small-2 column rPad">
	                       <div class="distancia">{{roundDist(dist)}} Km.</div> 
	                        </div>


	          
	                    <div class="small-1 column rpad end">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>


	         {{#if empty}}
	        	<h4 style="margin:20px;"> Sin Resultados, intente otra búsqueda</h4>
	        {{/if}}


	    </div>
</div>


</script>

<!-- Especialidades  ============================================================-->
<script id='especT' type='text/ractive'>

<div id="wrapperEspec" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview" data-filter="true" data-filter-placeholder="filtrar especialidad...">
	            {{#each data}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>

	                    </div>
	          
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>

<!-- Especialidades  ============================================================-->
<script id='especRT' type='text/ractive'>

<div id="wrapperEspecR" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview" data-filter="true" data-filter-placeholder="filtrar especialidad...">
	            {{#each data}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>

	                    </div>
	          
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>

<!-- Descuento  ============================================================-->
<script id='descuentoT' type='text/ractive'>

	<div id="wrapperDesc" class="wrapper">
	    <div id="scroller">
	        <ul data-role="listview" id="listview">

	        	  <li  data-icon="false">
	                <a class="autoli" on-tap="porcDesc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal">Mayor Porcentaje</div>
	                        
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> <img src="img/fNaranja.png"></div>
	                    </div>
	                </a>
	            </li>


	            <li  data-icon="false">
	                <a class="autoli" on-tap="listDesc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal">Por cercanía</div>
	                        
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> <img src="img/fNaranja.png"></div>
	                    </div>
	                </a>
	            </li>

	           

	            

	        </ul>
	    </div>
	</div>

</script>


<!-- Zona  ============================================================-->
<script id='listDescT' type='text/ractive'>

	<div id="wrapperListDesc" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview" data-filter="true" data-filter-placeholder="filtrar..." >
	           {{#items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                   
	                	{{#if distVis}}
	                    <div class="small-8 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        <div class="tags">{{descuentos[0].espec}} {{descuentos[0].perc}}%</div>
	                      	 <div style="margin-left: 6px;">
								<div data-role="none" class="starMini {{#if rate>0}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>1}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>2}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>3}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>4}}star-fill{{/if}}"></div>
							</div>
	                    </div>
	                    <div class="small-2 column rPad">
	                       <div class="distancia">{{roundDist(dist)}} Km.</div> 
	                        </div>
	                    
	                   	{{else}}

	                   	<div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        
	                    </div>
	                    	
	                        {{/if}}
	                    
	                    <div class="small-1 column rPad">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/items}}
	        </ul>
	    </div>
	</div>


	<div data-role="footer" data-position="fixed" style="position:fixed;bottom:0;"> 
			<img class="imgBanner"  on-click="openLink" id="imgBanner" src="http://autotips.mx:3018/uploads/docs/{{img}}">
	</div> 



</script>


<!-- Zona  ============================================================-->
<script id='listMayorT' type='text/ractive'>

	<div id="wrapperListDesc" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview" data-filter="true" data-filter-placeholder="filtrar..." >
	           {{#items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                   
	                	{{#if distVis}}
	                    <div class="small-8 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        <div class="tags">{{descuentos[0].espec}} {{descuentos[0].perc}}%</div>
	                         <div style="margin-left: 6px;">
								<div data-role="none" class="starMini {{#if rate>0}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>1}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>2}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>3}}star-fill{{/if}}"></div>
								<div data-role="none" class="starMini {{#if rate>4}}star-fill{{/if}}"></div>
							</div>

	                      
	                    </div>
	                    <div class="small-2 column rPad">
	                        <div class="distancia">{{roundDist(dist)}} Km.</div> 
	                        </div>
	                    
	                   	{{else}}

	                   	<div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        
	                    </div>
	                    	
	                        {{/if}}
	                    
	                    <div class="small-1 column rPad">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/items}}
	        </ul>
	    </div>
	</div>

	<div data-role="footer" data-position="fixed" style="position:fixed;bottom:0;"> 
			<img class="imgBanner"  on-click="openLink" id="imgBanner" src="http://autotips.mx:3018/uploads/docs/{{img}}">
	</div> 


</script>

<!-- Zona  ============================================================-->
<script id='zonaT' type='text/ractive'>

	<div id="wrapperZona" >
	    <div id="scroller" >
	        <ul data-role="listview"  id="listview" data-filter="true" data-filter-placeholder="filtrar estado..." >
	            {{#each items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getDel" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div  class="nSucursal">{{_id}}</div>
	                       
	                    </div>
	                      <div class="small-1 column rPad">
	                       <span style="margin-top:6px;" class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{count}}</span>
	                    
	                        </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>


<!-- Zona  ============================================================-->
<script id='delegacionT' type='text/ractive'>

	<div id="wrapperDel" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview">
	            {{#each items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                    <div class="small-10 column">
	                        <div  class="nSucursal">{{_id}}</div>
	                       
	                    </div>
	                      <div class="small-1 column rPad">
	                       <span style="margin-top:6px;" class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{count}}</span>
	                    
	                        </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>

<!--  MAPA ============================================================-->
	<script id='mapaT' type='text/ractive'>
    
	

	 <div role="main" class="ui-content">
	<div style="display:none;"><input  id="pac-input" type="text" placeholder="Escribe tu dirección, Código Postal ó Ciudad" /></div>
	<div id="ubica"></div>
	</div>

	

</script>



<!--  Info Sucursal ============================================================-->
<script id='infoT' type='text/ractive'>

	
	
	<div id="wrapperInfo" class="wrapper" >
	    <div id="scroller" >

<div class="conte">


		<div class="small-12 column title_nSucursal collapse">{{cCase(nombre)}}</div>

	    <div class="small-12 column collapse">	       
	        <div class="column info_direccion"> {{cCase(direccion)}}</div>
	        <div class="column info_direccion">Col. {{cCase(colonia)}}</div>
	        <div class="column info_estado">{{cCase(delegacion)}} - {{cCase(estado)}} </div>
	        <div class="column info_cp">C.P. {{cp}}</div>       
	    </div>

	     <div class="small-12 column collapse">	
		       <div class="btnNaranja btHalf ui-btn ui-shadow ui-corner-all " on-tap="genMap">Mapa de ubicación</div>
		      
		      <div class="btnNaranja btHalf ui-btn ui-shadow ui-corner-all" on-tap="navigate">Llévame</div>
	     </div>


	    	 <div class="vSpace"></div>


	      <div class="small-12 column collapse">
	         <div class="small-12 column info_tel1">Teléfono: {{maskTel(telefono1)}}  	
	      	 
	      </div>

	      <div class="btnNaranja  column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="dial">Marcar</div> 


	       <div class="vSpace"></div>

	    <div class="small-12 column especialidades ">
	    	 <div class=" info_nSucursal">Descuentos disponibles</div>
	    	{{#each descuentos}}
	    		 <div class="small-12 column  info_desc collapse">
	    		 	
	    		

	    		<div class="percCol">
	    		   {{perc}}% 
	    		 </div>

	    		 <div class="descCol">
	    		 		{{espec}}  {{value}} 
	    		 </div>
	    		 	  
	    		 </div>
	    	{{/each}}

	    </div>

	    {{#if dist}}
	    <div class="small-4 column">
	        <div class="distancia">{{distancia}}</div>
	    </div>
	    {{/if}}



	      <div class="btnNaranja small-12 column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="incidencia">Reportar incidencia</div> 

	       <div class="vSpace"></div>

	     <div class="small-12 column info_nSucursal">Califica al establecimento</div>
	     <div   class="small-12 column">

	     	{{#each stars:num}}
				<div data-role="none" class="star" on-hover="hoverStar" on-click="selStar" id="star{{num}}">
				</div>
			{{/each}}

	    </div> 


</div>

	     </div>
	</div>

	
</script>


<!--
 	   <div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="#panel-fixed-page2">Accordion</a></li>
                <li><a href="#panel-fixed-page2">AJAX Navigation</a></li>
                <li><a href="#panel-fixed-page2">Autocomplete</a></li>
                <li><a href="#panel-fixed-page2">Buttons</a></li>
          
        </ul>
    </div>
     -->
<!--  LOGIN ============================================================-->
<script id='contactoT' type='text/ractive'>
    
			<div class="saveBtn small-12 column">
			<div class="title">Envía tus comentarios</div>
	        <div class="formLabel">Comentario:</div>
            <textarea  data-clear-btn="true"  style="margin-left:7px height:100px; !important;" rows="8" name="textarea" id="comentario" data-mini="true"></textarea>

             <div on-tap="sendComment" class="btnNaranja  column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Enviar Mensaje</div>
             <div class="vSpace"></div>
             <hr>
              <div class="btnNaranja  column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="dial">Marcar a Autotips 01-800</div>  
 
            </div>


            
            
          
</script>


<!--  incidencia ============================================================-->
<script id='incidenciaT' type='text/ractive'>
    
			<div class="saveBtn small-12 column">
			<div class="title">Reportar incidencia</div>
			<div class="formLabel">Tipo de incidencia:</div>
			<select id="tipoI" class="comboC">
				<option>No se respeto el descuento</option>
				<option>El descuento es diferente al publicado</option>
				<option>Datos del establecimiento no coinciden</option>
				<option>Otro</option>
			</select>

			<div class="vSpace"></div>

	        <div class="formLabel">Breve descripción de la incidencia:</div>
            <textarea data-clear-btn="true"  style="margin-left:0px !important;" rows="8" name="textarea" id="comIncidencia" data-mini="true"></textarea>


            <div on-tap="sendIncidencia" class="btnNaranja  column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Enviar mensaje</div> 


           

            </div>
           
            <div class="btnNaranja  column ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="dial">Marcar a Autotips 01-800</div> 

</script>

<!--  MENU ============================================================-->
<script id='menuT' type='text/html'>
 


    <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="b" id="add-form">

            <label for="name">ID tarjeta:</label>
            <h3>{{userData.cardHypen}}</h3>

            <label for="name">Días restantes:</label>
            <h3>{{restantes(userData.end)}}</h3>

            <div id="cardRep"  on-tap="zoomCard">
            <div class="cardName">{{userData.nombre}}</div>
             <div class="cardId">{{userData.cardHypen}}</div>
            <div class="cardVenc">{{userData.vencimiento}}</div>
            <!--<div class="cardCCV">{{userData.ccv}}</div> -->

            </div>
            
            <button on-tap="cerrarsesion" class="ui-btn" >cerrar sesión</button>

            <div class="version">versión 2.0.1</div>

    </div><!-- /panel -->



		<div id="galCont">
				<div on-tap="closeZoom" class="closeZoom">X</div>
				 <div id="cardRepZoom" >
            <div class="cardName">{{userData.nombre}}</div>
             <div class="cardId">{{userData.cardHypen}}</div>
            <div class="cardVenc">{{userData.vencimiento}}</div>
            <!--<div class="cardCCV">{{userData.ccv}}</div> -->

            </div>


		</div>

</script>