<!-- FIRST ============================================================-->
<script id='firstT' type='text/ractive'>
           <button class="btnGen" on-tap="login">Ingresar a mi cuenta</button>
           <button class="btnGen" on-tap="registro">Registrarme</button>
</script>

<!--  LOGIN ============================================================-->
<script id='loginT' type='text/ractive'>

	<div class="title">Ingresar a mi cuenta</div>
            <div class="labelT">Correo:</div>
            <input type="text" name="name" id="name" value="" data-clear-btn="true" data-mini="true">
             <div class="labelT">Contraseña: </div>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">

                <a href="#" data-rel="close" class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="ingresar">Ingresar</a>    

                <a class="linksTexto" href="#recuperar">¿Olvidaste tu contraseña?</a>

</script>

<!--  Recuperar ============================================================-->
<script id='recuperarT' type='text/ractive'>
    


    <div  role="main" class="ui-content">
      <div class="title">Ingresa tu correo y te enviaremos tu contraseña</div>
            <div class="labelT">Correo:</div>
            <input type="text" name="name" id="email" value="" data-clear-btn="true" data-mini="true">
            <div class="ui-grid-a">
				<a href="#" data-rel="close" class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="recuperar">Enviar correo</a>
            </div>
    </div>
    

</script>

<!--  REGISTRO ============================================================-->
<script id='registroT' type='text/ractive'>
    

    <div id="wrapperReg" class="wrapper" >
	    <div id="scroller" >

	<div class="conte">

	

	 <form id="dataForm" data-abide="ajax">

	 		<h2>Registro de Usuario</h2>

	 		 <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Nombre:</div>
	             <input class="" id="nombre" type="text" value="" />
          	</div>

          	 <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Email:</div>
	             <input class="" id="email" type="text" value=""  />
	         </div>   

	          <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Elija una contraseña:</div>
	             <input class="" id="pass" type="password" value=""  />
	         </div>  

	           <div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Repetir Contraseña:</div>
	             <input class="" id="cpass" type="password" value=""  />
	         </div>    
	             
          	<div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">ID Tarjeta:</div>
	             <input class="" id="card" type="text" value=""  />
          	</div>

          	<div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">CCV:</div>
	             <input class="" id="ccv" type="text" value=""  />
          	</div>

          	 	<div class="small-12 medium-6 large-6 ">
	             <div class="formLabel">Obtuve mi tarjeta en:</div>
	             <select id="origen">
            	<option>Aseguradora</option>
            	<option>Outsourcing</option>
            	<option>Flotilla Empresa</option>
            	<option>Particular</option>
            </select>
          	</div>

       <div class="saveBtn small-12 column">
          <div on-tap="validate" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini btnNaranja">Crear cuenta</div>
       </div>

    </form>

     </div>

    	</div>
    </div>

</script>


<!--  HOME ============================================================-->
	<script id='mainT' type='text/ractive'>
    
	{{>menuT}}

	 <div data-role="header" id="headerLogo" data-position="fixed">
        <div id="logoHeader">
		<img src="img/logo.png">
	</div>

     <!--   <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>  -->
        <a href="#add-form" data-icon="gear" data-theme="a" class="ui-btn-right" data-iconpos="notext">Info</a>
    </div><!-- /header -->

    <div role="main" >
           <div id="wrapperMain" >
		       <div id="scroller">
		             <ul class="listMenu" data-role="listview" id="listview">
							<li>
							<div class="listMain" on-tap="getCerca">
								<div class="icoDiv"><img src="img/cerca.png"></div>
								<div class="mainIcoText">Cerca de Mí</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getZona">
								<div class="icoDiv"><img src="img/zona.png"></div>
								<div class="mainIcoText">Zona</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getDescuentos">
								<div class="icoDiv"><img src="img/desc.png"></div>
								<div class="mainIcoText">Descuentos</div>
							</div>
							</li>

						

							<li>
							<div class="listMain" on-tap="getEspecialidad">
								<div class="icoDiv"><img src="img/espec.png"></div>
								<div class="mainIcoText">Especialidad</div>
							</div>
							</li>

							<li>
							<div class="listMain" on-tap="getContacto">
								<div class="icoDiv"><img src="img/contacto.png"></div>
								<div class="mainIcoText">Contacto</div>
							</div>
							</li>
		             </ul>
		        </div>
		</div>
    </div><!-- /content -->
    
 
      
      <div id="map" style="display:none;"></div>

    </script>



<!-- Listado 1  ============================================================-->
<script id='listT' type='text/ractive'>

	<div id="wrapperList" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview">
	            {{#items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="listDetail" data-transition="fade">
	                   
	                	{{#if distVis}}
	                    <div class="small-8 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        <div class="tags">{{tags}}</div>
	                    </div>
	                    <div class="small-2 column rPad">
	                        <div class="distancia">{{roundDist(dist)}} Km.</div>
	                        </div>
	                    
	                   	{{else}}

	                   	<div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        <div class="tags">{{tags}}</div>
	                    </div>
	                    	
	                        {{/if}}
	                    
	                    <div class="small-1 column rPad">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/items}}
	        </ul>

	        {{#if empty}}
	        	<h2 style="margin:20px;"> Sin Resultados, intente otra búsqueda</h2>
	        {{/if}}

	    </div>
	</div>


</script>


<!-- Especialidades  ============================================================-->
<script id='especT' type='text/ractive'>

<div id="wrapperEspec" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview" data-filter="true" data-filter-placeholder="buscar especialidad...">
	            {{#each data}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal">{{correctCase(nombre)}}</div>
	                        <div class="tags">{{tags}}</div>
	                    </div>
	          
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>

<!-- Descuento  ============================================================-->
<script id='descuentoT' type='text/ractive'>

	<div id="wrapperDesc" class="wrapper">
	    <div id="scroller">
	        <ul data-role="listview" id="listview">

	            <li  data-icon="false">
	                <a class="autoli" on-tap="listDesc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal"><p>Todos los descuentos</p></div>
	                        <div class="tags">{{tags}}</div>
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> <img src="img/fNaranja.png"></div>
	                    </div>
	                </a>
	            </li>

	             <li  data-icon="false">
	                <a class="autoli" on-tap="porcDesc" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div class="nSucursal"><p>Descuentos de Mayor Porcentaje</p></div>
	                        <div class="tags">{{tags}}</div>
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> <img src="img/fNaranja.png"></div>
	                    </div>
	                </a>
	            </li>

	            

	        </ul>
	    </div>
	</div>

</script>


<!-- Zona  ============================================================-->
<script id='listDescT' type='text/ractive'>

	<div id="wrapperListDesc" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview" data-filter="true" data-filter-placeholder="buscar especialidad..." >
	            {{#each items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getList" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div  class="nSucursal">{{_id}}</div>
	                        <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{count}}</span>
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>

<!-- Zona  ============================================================-->
<script id='zonaT' type='text/ractive'>

	<div id="wrapperZona" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview"  id="listview" data-filter="true" data-filter-placeholder="buscar estado..." >
	            {{#each items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getDel" data-transition="fade">
	                    <div class="small-10 column rPad">
	                        <div  class="nSucursal">{{_id}}</div>
	                        <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{count}}</span>
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>


<!-- Zona  ============================================================-->
<script id='delegacionT' type='text/ractive'>

	<div id="wrapperDel" class="wrapper" >
	    <div id="scroller" >
	        <ul data-role="listview" id="listview">
	            {{#each items}}
	            <li  data-icon="false">
	                <a class="autoli" on-tap="getSuc" data-transition="fade">
	                    <div class="small-10 column">
	                        <div  class="nSucursal">{{_id}}</div>
	                        <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{count}}</span>
	                    </div>
	                    <div class="small-1 column">
	                        <div class="fNaranja"> 
	                        <img src="img/fNaranja.png">
	                        </div>
	                    </div>
	                </a>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	</div>


</script>

<!--  MAPA ============================================================-->
	<script id='mapaT' type='text/ractive'>
    
	

	 <div role="main" class="ui-content">
	<div style="display:none;"><input  id="pac-input" type="text" placeholder="Escribe tu dirección, Código Postal ó Ciudad" /></div>
	<div id="ubica"></div>
	</div>

	

</script>



<!--  Info Sucursal ============================================================-->
<script id='infoT' type='text/ractive'>

	
	
	<div id="wrapperInfo" class="wrapper" >
	    <div id="scroller" >

<div class="conte">

	    <div class="small-12 column">
	        <div class="small-12 column info_nSucursal">{{nombre}}</div>
	        <div class="small-12 column info_direccion"><b>Dirección:</b> {{direccion}}</div>
	        <div class="small-12 column info_direccion"><b>Colonia:</b> {{colonia}}</div>
	        <div class="small-12 column info_estado"><b>Población:</b> {{delegacion}} - {{estado}} </div>
	        <div class="small-12 column info_cp"><b>C.P.: </b>{{cp}}</div>
	        <div class="small-12 column info_tel1"><b>Teléfono:</b> {{telefono1}}</div>
	    </div>

	    <div class="small-12 column especialidades">
	    	 <div class="small-12 column info_nSucursal">Descuentos disponibles</div>
	    	{{#each descuentos}}
	    		 <div class="small-12 column  info_direccion"><b>{{perc}}%</b> {{espec}}  {{value}} 

	    		 </div>
	    	{{/each}}
	    </div>

	    {{#if dist}}
	    <div class="small-4 column">
	        <div class="distancia">{{distancia}}</div>
	    </div>
	    {{/if}}

	    <div class="small-12 column">
	        <div class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="genMap">Ver mapa de ubicación</div>
	    </div>

	     <div class="small-12 column">
	       <div class="btnNaranja ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" on-tap="navigate">Llévame</div>
	    </div>
</div>

	     </div>
	</div>

	
</script>


<!--
 	   <div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="#panel-fixed-page2">Accordion</a></li>
                <li><a href="#panel-fixed-page2">AJAX Navigation</a></li>
                <li><a href="#panel-fixed-page2">Autocomplete</a></li>
                <li><a href="#panel-fixed-page2">Buttons</a></li>
          
        </ul>
    </div>
     -->
<!--  LOGIN ============================================================-->
<script id='contactoT' type='text/ractive'>
    
			<div class="saveBtn small-12 column">
			<div class="title">Envía tus comentarios</div>
	        <div class="formLabel">Comentario:</div>
            <textarea data-clear-btn="true"  style="margin-left:0px !important;" rows="8" name="textarea" id="comentario" data-mini="true"></textarea>

            <div on-tap="sendComment" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini btnNaranja">Enviar</div>
            </div>
            
            <div class="saveBtn small-12 column">
          		
       		</div>

</script>

<!--  MENU ============================================================-->
<script id='menuT' type='text/html'>
 


    <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="b" id="add-form">

            <h2>Usuario</h2>
            <label for="name">Nombre de usuario:</label>
            <h3>{{userData.username}}</h3>

            <label for="name">ID tarjeta:</label>
            <h3>{{userData.idCard}}</h3>
            
            
            <button on-tap="cerrarsesion" class="ui-btn" >cerrar sesión</button>

    </div><!-- /panel -->

</script>