<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nucleo.expoina" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Expo INA</name>
    <description>
       Expo INA 2015
    </description>
    <author email="dev@n4ymedio.mx" href="n4ymedio.mx">
        Nucleo 4 y Medio
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="target-device" value="handset" />
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    </feature>
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <icon src="www/img/icon.png" gap:role="default"/>
    <icon src="icon.png" gap:platform="ios" />
    <icon src="icon-50.png" gap:platform="ios" width="50" height="50" /> 
    <icon src="icon-57.png" gap:platform="ios" width="57" height="57" /> 
    <icon src="icon-40.png" gap:platform="ios" width="40" height="40" /> 
    <icon src="icon-72.png" gap:platform="ios" width="72" height="72" /> 
    <icon src="icon-76.png" gap:platform="ios" width="76" height="76" /> 
    <icon src="icon-120.png" gap:platform="ios" width="120" height="120" /> 
    <icon src="icon-152.png" gap:platform="ios" width="152" height="152" /> 
    <access origin="*" />
    <preference name="EnableViewportScale" value="false" />
</widget>
